.logo {
  position: absolute;
  top: 6vh;         
  left: 8vw;        
  width: 2 vw;      
  height: 15vh;    
}

.menu {
  position: absolute;
  top: 10vh;        
  right: 6vw;      
  display: flex;
  align-items: center;
  gap: 5vw;         
  font-family: 'Poppins', sans-serif;
}

.menu a {
  color: #D95A4E;
  text-decoration: none;
  font-weight: 500; 
}

.menu-img {
  width: 2.5vw;     
  height: auto;
  margin-top: -2vh; 
  margin-right: -2vw;
  cursor: pointer;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #fff;
  color: #A6122D;
  margin: 40px;
}

h1 {
  text-align: center;
  color: #A6122D;
  margin-bottom: 30px;
}

form {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

label {
  color: #A6122D;
  font-weight: 500;
}

.form-group {
  flex: 1 1 45%;
  display: flex;
  flex-direction: column;
}

input, select {
  padding: 12px;
  border: 1px solid #D95A4E;
  border-radius: 6px;
  font-size: 14px;
  margin-top: 5px;
  font-family: 'Poppins', sans-serif;
}

.full-width {
  flex: 1 1 100%;
}

button {
  margin: 40px auto 0;
  display: block;
  padding: 15px 30px;
  background-color: #D95A4E;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #a93f35;
}

h1 + .resumo-pedido {
  margin-top: 20px;
}

.resumo-pedido table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
  color: #333;
  margin-bottom: 20px;
}

.resumo-pedido th,
.resumo-pedido td {
  border: 1px solid #f0c4c4;
  padding: 12px;
  text-align: left;
}

.resumo-pedido th {
  background-color: #fdf3f3;
  color: #A6122D;
}

.resumo-pedido .total td {
  font-weight: bold;
}

.pagamento {
  margin-top: 30px;
  font-family: 'Poppins', sans-serif;
  color: #333;
}

.pagamento label {
  display: block;
  margin-bottom: 10px;
  color: #000;
}

.form-pagamento {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.form-pagamento .form-group {
  flex: 1 1 45%;
  display: flex;
  flex-direction: column;
}

.form-pagamento input {
  padding: 12px;
  border: 1px solid #D95A4E;
  border-radius: 6px;
  font-size: 14px;
  margin-top: 5px;
  font-family: 'Poppins', sans-serif;
}

.icone-cartao img {
  width: 400px;   
  height: auto;
}

:root {
    --cor-fundo: #F2B3B3;
    --cor-texto: #D95A4E;
    --tamanho-fonte: 18px;
    --linha: #a6122d;
    --fundo: #df9494;
}

body
{
    background-color: #f5f5f5;
    font-family: 'Poppins', sans-serif;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.linkheader
{
    text-decoration: none;
    color: var(--cor-texto);
    font-weight:500;
    font-size: var(--tamanho-fonte);
}
.cabecalho
{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    margin-left: -5rem;
}
.icons
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 5rem;

}
.icon
{
    font-size: 27px;
    color: var(--linha);
}
.perfilicon
{
    font-size: 30px;
}
.linkheader:hover
{
    color: rgb(184, 20, 50);
}
.linha
{
    border: solid 1px var(--linha);
    width: 98vw;
    margin-bottom: 3rem;
    
}
.centralinha
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.rodape
{
    display: flex;
    align-items: center;
    background-color: var(--fundo);
    color: white;
    padding: 20px;
    width: 100vw;
    margin-bottom: -3rem;
    margin-left: -3rem;
}
.titulorodape
{
    display: flex;
    align-items: center;
}

.escritarodape
{
    font-size: 16px;
    text-align: justify;
    line-height: 1.5;
}
.tamanhorodape
{
    width: 25rem;
}
.titulofooter
{
    font-size: 25px;
    font-weight: bold;
}
.sac
{
    margin-bottom: .8rem;
    display: flex;
    gap: .5rem;
}
.escritasac
{
    font-size: 15px;
}
.iconsac
{
    display: flex;
    align-items: star;
    justify-content: center;
}
.sactotal
{
    margin-top: 1.5rem;
}
.categoria
{
    text-decoration: none;
    color: white;
    font-size: 15px;
}
.escritacategoria
{
    font-size: 16px;
}
.redes
{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: .5rem;
    transform: translateX(10rem);
    transform: translateY(-5rem);
    width: 16rem;
    margin-bottom: -2rem;
}
.informacoestotal
{
    margin-left: 7rem;
    margin-right: 2rem;
}
.contatototal
{
    margin-left: 5rem;
}
.rede
{
    font-size: 18px;
    background-color: white;
    color: var(--fundo);
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 15px;
}

.rede:hover
{
    cursor: pointer;
    color: #c07f7f;
}
.facebook:hover
{
    cursor: pointer;
    color: #ffffffd3;
}
.categoria:hover
{
    color: #ffffffbd;
}